body { font-family: Arial; margin: 40px; background: #f0f0f0; }
.container { max-width: 600px; margin: auto; background: white; padding: 20px; border-radius: 8px; }
.message { padding: 15px; border-bottom: 1px solid #eee; }
.name { font-weight: bold; color: #333; }
.date { font-size: 0.8em; color: #888; }
input, textarea { width: 100%; padding: 8px; margin: 5px 0 15px; }
button { padding: 10px 50px; background: #3e8cef; color: white; border: none; cursor: pointer; position: relative; left: 390px; top: 20px; box-shadow: -2px 5px 7px 2px #0000003d; border-radius: px;}
button:hover { background: #0056b3; }
.error { color: red; }
.box {
width: 500px;
height: 500px;
padding: 20px;
box-shadow: 1px -1px 7px 2px #0000000d;
background-color: #fff;
}